html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

section#home > nav > ul {
  display: flex;
  width: auto;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

section#settings {
  background-image: url("./favicon.ico");
  width: auto;
  height: 100vh;
}

.sectFallback {
  display: none;
}

.sectFallback:target {
  display: block;
}

.sectHide {
  display: none;
}

.sectShow {
  display: block;
}

/* Default animation (cross-fade) */
::view-transition-old(root) {
  animation: move-out 1s cubic-bezier(0.4, 0, 1, 1);
}
::view-transition-new(root) {
  animation: move-in 1s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes move-out {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes move-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
